.contenedor-datos-usuario{
    border: 2px solid black;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;

    @include Computadora{
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem 3rem;
    }

    .datos_usuario{
        a{
            padding: 1rem;
            border: 2px solid black;
        }
    }

}

.titulo_historial{
    border: 2px solid black;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include Computadora{
        padding: 2rem 3rem;
        justify-content: flex-start;
    }
}

.contenedor_ventas_usuario{
    border: 2px solid black;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    @include Computadora{
        flex-direction: row;
        padding: 2rem 3rem;
        column-gap: 1rem;
    }
}

.buscador_venta{
    input[type=text]{
        padding: 1rem;
        border-radius: 5px;
        font-size: 1.8rem;
    }
}

.filtro_venta{
    select{
        padding: 1rem;
        border-radius: 5px;
        font-size: 1.8rem;
    }
}

.texto_ordenar{
    label{
        font-size: 2rem;
    }
}

.ordenar_venta{
    select{
        padding: 1rem;
        border-radius: 5px;
        font-size: 1.8rem;
    }
}

.filtrar_ventas{
    button{
        border-radius: 5px;
        font-size: 1.8rem;
        padding: 5px;
    }
}

.contenedor_ventas_contra{
    border: 2px solid black;
    padding: 2rem 0;

    display: grid;
    grid-template-rows: repeat(2,1fr);

    @include Computadora{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        padding: 2rem 3rem;
    }

    .tabla_ventas{
        display: flex;
        justify-content: center;
        width: 100%;

        .tabla{
            align-self: flex-start;
            border-collapse: collapse;
            width: 70%;

            th{
                font-size: 1.8rem;
                border: 1px solid black;
                text-align: center;
            }
    
            td{
                font-size: 1.8rem;
                text-align: center;
                border: 1px solid black;
            }
        }
    }

    .div_actualizar{
        display: flex;
        justify-content: center;
        
        .formulario{
            padding: 1.5rem;
            border: 2px solid black;
            border-radius: 5px;
            display: flex;
            row-gap: 2rem;

            .contra_actual{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1rem;
                label{
                    font-size: 2rem;
                }
                input[type=text]{
                    padding: 1rem;
                    border-radius: 5px;
                    font-size: 1.8rem;
                }
            }

            .contra_nueva{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1rem;
                label{
                    font-size: 2rem;
                }
                input[type=text]{
                    padding: 1rem;
                    border-radius: 5px;
                    font-size: 1.8rem;
                }
            }

            .guardar{
                display: flex;
                justify-content: center;

                input[type=submit]{
                    padding: 1rem;
                    border-radius: 5px;
                    font-size: 1.8rem;
                }
            }
        }
    }
}